@import 'utilities';
@import 'mixins';

.about-container {
    @include flex-center;
    @include random-bg();
}

.about-content {
    @include bg-image('../images/menu-background.jpg', 80%);
    @include bg-cover;
    @include bg-center;
    @include flex-center;
    padding: 40px;
    max-width: 800px;
    border-radius: 10px;

    .waitress {
        width: 500px;
        height: 350px;
        margin-right: 20px;
    }

    p {
        color: black;
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
}

.about {
    background-color: random-bg-color();
}